.container {
    max-width: 1322px;
    margin: auto;
    border: 1px solid #161C29;
    border-radius: 6px;
    background-color: #1b202f;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 50px 60px;
}
